@model AnimalBFGKLM.Models.AnimalTipo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Domestico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Domestico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Selvagem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Selvagem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comportamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comportamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Habitat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Habitat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AnimalId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
