@model IEnumerable<AnimalBFGKLM.Models.AnimalTipo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ANIMALBFGKLM</h1>

<p>
    <a asp-action="Create">Cadastrar Animais</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnimalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domestico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Selvagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comportamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AnimalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Domestico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Selvagem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comportamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Habitat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.AnimalId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.AnimalId }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.AnimalId })
                </td>
            </tr>
        }
    </tbody>
</table>
